<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginPatientServlet</servlet-name>
        <servlet-class>servlets.LoginPatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPersonnelServlet</servlet-name>
        <servlet-class>servlets.LoginPersonnelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSymptomServlet</servlet-name>
        <servlet-class>servlets.AddSymptomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterPatientServlet</servlet-name>
        <servlet-class>servlets.RegisterPatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPersonnelServlet2</servlet-name>
        <servlet-class>servlets.LoginPersonnelServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterPersonnelServlet</servlet-name>
        <servlet-class>servlets.RegisterPersonnelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getExaminedServlet</servlet-name>
        <servlet-class>servlets.getExaminedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchPatientServlet</servlet-name>
        <servlet-class>servlets.FetchPatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateExaminationServlet</servlet-name>
        <servlet-class>servlets.CreateExaminationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPreviousVisitServlet</servlet-name>
        <servlet-class>servlets.AddPreviousVisitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchDocServlet</servlet-name>
        <servlet-class>servlets.FetchDocServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPatientServlet</servlet-name>
        <url-pattern>/LoginPatientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPersonnelServlet</servlet-name>
        <url-pattern>/LoginPersonnelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSymptomServlet</servlet-name>
        <url-pattern>/AddSymptomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterPatientServlet</servlet-name>
        <url-pattern>/RegisterPatientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPersonnelServlet2</servlet-name>
        <url-pattern>/LoginPersonnelServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterPersonnelServlet</servlet-name>
        <url-pattern>/RegisterPersonnelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getExaminedServlet</servlet-name>
        <url-pattern>/getExaminedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchPatientServlet</servlet-name>
        <url-pattern>/FetchPatientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateExaminationServlet</servlet-name>
        <url-pattern>/CreateExaminationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPreviousVisitServlet</servlet-name>
        <url-pattern>/AddPreviousVisitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchDocServlet</servlet-name>
        <url-pattern>/FetchDocServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
